.site-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1500px;
    grid-template-areas:
    'header header'
    'sidebar content';

    grid-template-rows: 60px 2fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 20px 20px;
}

.header {
    grid-area: header;
    background-color: #20232a;
}

.header img {
    width: 60px;
}

.sidebar {
    grid-area: sidebar;
    text-align: center;
    background-color: #282c34;
}

.sidebar a {
    text-decoration: none;
    color: white;
}

.content {
    grid-area: content;
    border: 1px solid #e5af64;
}

.content-image {
    background-image: url(./images/1.jpg);
    background-size: cover;
    height: 150px;
}
